## Sourcing Data with an API

### Import and concatenate

In [4]:
import pandas as pd
import numpy as np
import os
import requests
import json
from datetime import datetime

In [5]:
# Create a list with all files in the folder using a list comprehension

folderpath = r"/Users/gideon/Desktop/DivvyBikes2022" # make sure to put the 'r' in front
filepaths = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]

In [6]:
filepaths

['/Users/gideon/Desktop/DivvyBikes2022/JC-202203-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202201-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202111-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202107-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202209-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202109-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202211-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202207-citbike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202205-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202112-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202202-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202208-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202106-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202110-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202206-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202210-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202108-citibike-tripdata.csv',
 '/Users/gideon/Desktop/DivvyBikes2022/JC-202204-citibike-tripdata.csv']

In [7]:
# Read and concatenate all files simultaneously

df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

In [8]:
df.shape

(1388898, 13)

In [9]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member

In [10]:
df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1388893,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member
1388894,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member
1388895,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member
1388896,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual
1388897,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual

### After creating a list, we need to read and join the datasets. This is done using a new strategy called a generator.
### Generators are similar to list comprehensions, but they operate in a slightly different manner.
### Here using a generator, an iteration of the list elements created in the previous step is done.
### The function thatâ€™s applied iteratively is pd.read_csv(). The read files are then passed into the pd.concat() function.
### The result returns the above dataframe.

## Get weather data using NOAA's API

In [13]:
# Define your NOAA token 

Token = 'VfShvRLHgvpjrJRJbvVWLZVLrDBBkDbK'

In [14]:
# Get the API 

r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00014732&startdate=2022-01-01&enddate=2022-12-31', headers={'token':Token})

In [15]:
# Load the api response as a json

d = json.loads(r.text)

In [16]:
# Secure all items in the response that correspond to TAVG

avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']

In [17]:
# Get only the date field from all average temperature readings

dates_temp = [item['date'] for item in avg_temps]

In [18]:
# Get the temperature from all average temperature readings

temps = [item['value'] for item in avg_temps]

In [19]:
# Put the results in a dataframe

df_temp = pd.DataFrame()

In [20]:
# Get only date and cast it to date time; convert temperature from tenths of Celsius to normal Celsius

df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp'] = [float(v)/10.0 for v in temps]

In [21]:
df_temp.head()

        date  avgTemp
0 2022-01-01     11.6
1 2022-01-02     11.4
2 2022-01-03      1.4
3 2022-01-04     -2.7
4 2022-01-05      3.2

In [22]:
df_temp.tail()

          date  avgTemp
360 2022-12-27     -0.7
361 2022-12-28      3.4
362 2022-12-29      6.4
363 2022-12-30      9.3
364 2022-12-31      8.2

In [23]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [24]:
df['started_at'] = pd.to_datetime(df['started_at'], dayfirst = False)

In [25]:
df['date'] = pd.to_datetime(df['started_at'], format='%Y-%m-%d').dt.date

In [26]:
df['date'] = pd.to_datetime(df['date'])

In [27]:
df_temp.head()

        date  avgTemp
0 2022-01-01     11.6
1 2022-01-02     11.4
2 2022-01-03      1.4
3 2022-01-04     -2.7
4 2022-01-05      3.2

In [28]:
%%time
df_merged = df.merge(df_temp, how = 'left', on = 'date', indicator = True)

CPU times: user 755 ms, sys: 302 ms, total: 1.06 s
Wall time: 1.57 s

In [29]:
df_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual,2022-03-18,13.9,both
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-04,-1.9,both
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3,both
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-13,-2.3,both
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member,2022-03-11,7.2,both

In [30]:
df_merged['_merge'].value_counts(dropna = False)

_merge
both          846900
left_only     541998
right_only         0
Name: count, dtype: int64

In [31]:
df_merged.to_csv('NewYork_data.csv')

In [32]:
df.shape

(1388898, 14)

## END